<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CometD.NetCore" version="2.0.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="PowerArgs.Dev" version="2.7.1.0" targetFramework="net461" />
  <package id="RestSharp" version="105.1.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>